.description {
    width: 100vw;
    height: auto;
    background: linear-gradient(0deg, #8D60F1, #18467A);
    display: flex;
    align-items: center;
    flex-direction: column;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
}
.dc {
    width: 100vw;
    height: 5vh;
    background-color: #000;
    opacity: 0.15;
    margin-top: -5vh;
}
.footer {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Exo 2';
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 5vh;
}
#geoLogo {
    width: 1rem;
    height: 1.2rem;
    margin-right: 1vw;
}
#location {
    display: flex;
    align-items: center;
}
.aboutUs {
    margin-top: 1vh;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerElement {
    margin: 2vh auto auto 2vw;
}
.contacts {
    margin-top: 5vh;
    font-size: 1.7rem;
}
.toDarkerBot {
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 8vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyElem {
    color: #938BE9;
}
.childOfToDarkerBot {
    display: flex;
    margin-right: 1vw;
    align-items: center;
}
.arrowUpFooter {
    width: 4.5vh;
    height: 4.5vh;
}
img[alt='ComLogo'] {
    width: 3vw;
    height: 5vh;
}
.trioFooterToDarkerBot {
    display: flex;
    margin-right: 40vw;
    justify-content: space-between;
    align-items: center;
    width: 14vw;
}
.lineInTrioFooter {
    background-color: #fff;
    width: 0.1vh;
    height: 5vh;
}
.boldOfAboutUs {
    font-weight: 700;
}
.blockOfRequest {
    background-color: #fcfcfc;
    background-image: url(imgs/Group\ 295.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    font-family: 'Exo 2';
}
.blockOfRequest * {
    margin-top: 5vh;
}
.blockOfRequest :last-child {
    margin-bottom: 5vh;
}
.getConsultation {
    font-size: 1.7rem;
    font-weight: bold;
}
.violetText {
    color: #8d60f1;
}
.descriptionOfConsultation {
    font-size: 1.3rem;
    max-width: 60vw;
    text-align: center;
}
.workWithServices {
    font-size: 1.3rem;
    text-align: center;
    max-width: 40vw;
}
.buttonLeaveARequest {
    width: 20vw;
    height: 7vh;
    font-size: 1.3rem;
    font-family: 'Exo 2';
    color: white;
    font-weight: 700;
    background: linear-gradient(180deg, #8D60F1, #6c3cd9);
    border: 0;
    border-radius: 3.5vh;
}
.buttonLeaveARequest:hover {
    background: linear-gradient(180deg, #714dc1, #5630ae)
}
.buttonLeaveARequest:active {
    background: linear-gradient(180deg, #553a91, #412482);
}
.commissionsList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    max-width: 90%;
    font-family: 'Exo 2';
}
.commissionsList span {
    font-weight: bold;
}
.commissionsList img {
    width: 2rem;
    height: 2rem;
    margin-right: 1vw;
}
.commissionsList > div {
    display: flex;
    align-items: center;
}
.AutomationCommissionAndPartnersBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AutomationCommissionAndPartnersBlock img[alt='vidiGraph'], .AutomationCommissionAndPartnersBlock img[alt='companies'] {
    width: 60vw;
    height: auto;
}
.AuCoPaBlockPartText {
    font-family: 'Exo 2';
    font-size: 1.7rem;
    font-weight: bold;
    margin: 5vh auto;
}
.CommissionPartOfBlock {
    display: flex;
    flex-direction: row;
    background-color: #ebf4ff;
    width: 60vw;
    margin: 12vh auto 3vh;
    position: relative;
    border-radius: 1vh;
}
.CommissionPartOfBlock > img {
    margin-bottom: -8vh;
    margin-left: 0;
    width: 25vw;
    height: auto;
    transform: translate(3vw, -8vh);
}
.CommissionPartOfBlock > div {
    margin-left: 5vw;
}