.description {
    width: 100vw;
    height: auto;
    background: linear-gradient(0deg, #8d60f1, #18467a);
    display: flex;
    align-items: center;
    flex-direction: column;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
}
.dc {
    width: 100vw;
    height: 5vh;
    background-color: #000;
    opacity: 0.15;
    margin-top: -5vh;
}
.footer {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Exo 2";
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 5vh;
}
#geoLogo {
    width: 1rem;
    height: 1.2rem;
    margin-right: 1vw;
}
#location {
    display: flex;
    align-items: center;
}
.aboutUs {
    margin-top: 1vh;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerElement {
    margin: 2vh auto auto 2vw;
}
.contacts {
    margin-top: 5vh;
    font-size: 1.7rem;
}
.toDarkerBot {
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 8vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyElem {
    color: #938be9;
}
.childOfToDarkerBot {
    display: flex;
    margin-right: 1vw;
    align-items: center;
}
.arrowUpFooter {
    width: 4.5vh;
    height: 4.5vh;
}
img[alt="ComLogo"] {
    width: 3vw;
    height: 5vh;
}
.trioFooterToDarkerBot {
    display: flex;
    margin-right: 40vw;
    justify-content: space-between;
    align-items: center;
    width: 14vw;
}
.lineInTrioFooter {
    background-color: #fff;
    width: 0.1vh;
    height: 5vh;
}
.boldOfAboutUs {
    font-weight: 700;
}
.blockOfRequest {
    background-color: #fcfcfc;
    background-image: url(imgs/Group\ 295.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    font-family: "Exo 2";
}
.blockOfRequest * {
    margin-top: 5vh;
}
.blockOfRequest :last-child {
    margin-bottom: 5vh;
}
.getConsultation {
    font-size: 1.7rem;
    font-weight: bold;
}
.violetText {
    color: #8d60f1;
}
.descriptionOfConsultation {
    font-size: 1.3rem;
    max-width: 60vw;
    text-align: center;
}
.workWithServices {
    font-size: 1.3rem;
    text-align: center;
    max-width: 40vw;
}
.buttonLeaveARequest {
    width: 20vw;
    height: 7vh;
    font-size: 1.3rem;
    font-family: "Exo 2";
    color: white;
    font-weight: 700;
    background: linear-gradient(180deg, #8d60f1, #6c3cd9);
    border: 0;
    border-radius: 3.5vh;
}
.buttonLeaveARequest:hover {
    background: linear-gradient(180deg, #714dc1, #5630ae);
}
.buttonLeaveARequest:active {
    background: linear-gradient(180deg, #553a91, #412482);
}
.commissionsList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    max-width: 90%;
    font-family: "Exo 2";
}
.commissionsList span {
    font-weight: bold;
}
.commissionsList img {
    width: 2rem;
    height: 2rem;
    margin-right: 1vw;
}
.commissionsList > div {
    display: flex;
    align-items: center;
}
.AutomationCommissionAndPartnersBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AutomationCommissionAndPartnersBlock img[alt="vidiGraph"],
.AutomationCommissionAndPartnersBlock img[alt="companies"] {
    width: 60vw;
    height: auto;
}
.AuCoPaBlockPartText {
    font-family: "Exo 2";
    font-size: 1.7rem;
    font-weight: bold;
    margin: 5vh auto;
}
.CommissionPartOfBlock {
    display: flex;
    flex-direction: row;
    background-color: #ebf4ff;
    width: 60vw;
    margin: 12vh auto 3vh;
    position: relative;
    border-radius: 1vh;
}
.CommissionPartOfBlock > img {
    margin-bottom: -8vh;
    margin-left: 0;
    width: 25vw;
    height: auto;
    transform: translate(3vw, -8vh);
}
.CommissionPartOfBlock > div {
    margin-left: 5vw;
}
.commissionsListText {
    margin: 5vh auto 2vh;
}
.firstOfThreeListsBlock,
.thirdOfThreeListsBlock {
    width: 100vw;
    background-color: #fcfcfc;
}
/* .firstOfThreeListsBlock > div, .secondOfThreeListsBlock > div, .thirdOfThreeListsBlock > div {
    display: flex;
    flex-direction: row;
} */
.threeListsBlock > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.threeListsBlock > div > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5vh;
}
.threeListsBlock > div > div > img {
    width: 12.5vw;
    height: 12.5vw;
    margin-right: 3vw;
}
.threeListsBlock > div > div > div {
    width: 50vw;
}
.threeListsBlock > div > div > div > div > div {
    display: flex;
    align-items: center;
}
.threeListsBlock > div > div > div > div > div > img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.threeListsBlock {
    font-family: "Exo 2";
}
.MainListsText {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 3vh;
}
.afterMainListsText {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 3vh;
}
.TLB_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    max-width: 90%;
}
.rightPartOfFlexList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
}
.TLB_list > div {
    margin-bottom: 1rem;
}
.secondAfterMainListsText {
    margin-bottom: 5vh;
}
.TLB_list > div > div > span {
    font-weight: bold;
}
.TaxAgentBlock .background {
    width: 100vw;
    height: 25vw;
    background: linear-gradient(3deg, #8d60f1 20%, #18467a 80%);
    transform: skew(0, -3deg);
    margin-top: -2.6vw;
    /* box-shadow: -1px 1px 8px black; */
    /* background-image: url(umgs/Union.png); */
}
.TaxAgentBlock {
    overflow: hidden;
    height: 25vw;
    background-color: #fcfcfc;
}
.content {
    color: white;
    transform: translate(0, -22.4vw);
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.content .contentText {
    margin-right: 10vw;
    max-width: 25vw;
    font-family: "Exo 2";
}
.contentText > div:first-child {
    font-size: 1.7rem;
    font-weight: bold;
}
.contentText > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1vh auto 3vh;
}
.contentText > div:nth-child(4) {
    margin-top: 3vh;
}
.content img[alt="programmer"] {
    width: 25vw;
    height: auto;
}
.content .contentList img {
    width: 2vw;
    height: auto;
    margin-right: 1vw;
}
.content .contentList > div {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 1.2rem;
}
header {
    font-family: "Exo 2";
}

header img {
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
    /* color: inherit; */
}

.container {
    max-width: 1240px;
    padding-left: 50;
    padding-right: 50;
}

.ul {
    list-style: none;
}

.header_inner {
    display: flex;
    padding: 0 0%;
    align-items: center;
    min-height: 140px;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 0 65px;
    border: solid 3px white;
    margin-right: 1vw;
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40vh;
    /* padding: 25px; */
    transform: skew(0, -0.5deg);
    position: relative;
    margin-top: -12vh;
    /* padding: 0 0%; */
}

.footer-text {
    /*Быстро Удобно Надежно*/
    font-weight: 700;
    text-align: center;
    margin-right: 475px;
    font-size: 40px;
    color: Black;
    margin-top: 60px;
}

.footer-item {
    list-style: none;
    width: 400px;
    text-align: center;
    margin: 0 260px;
    line-height: 1.6;
}

.menu__link, .men1:hover {
    display: flex;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    font-size: 30px;
}

.logo {
    margin-left: 300px;
    display: inline-block;
}
.footer1 {
    display: flex;
    margin-left: 280px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 60px;
}
.footer2 {
    display: flex;
    margin-left: 280px;
    font-size: 20px;
}
.footer3 {
    display: flex;
    margin-left: 280px;
    font-size: 20px;
}

.menu__list {
    display: flex;
    margin-right: 120px;
    list-style: none;
    padding: 0;
    margin-left: 0 50px;
    flex-grow: 1;
    justify-content: right;
}

.menu__link:hover {
    background-color: rgba(255, 255, 255);
    color: Black;
    transition: opacity 0.3s ease;
}
.menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-3deg);
    z-index: -1;
    background: linear-gradient(
        to top,
        rgba(141, 96, 241, 1),
        rgba(20, 69, 118, 1)
    );
}

.menu__item {
    display: absolute;
}

.The-Credit {
    display: inline-block block;
    width: 100px;
    height: auto;
    margin-right: 33.5vw;
    margin-left: auto;
    max-width: 50%;
    margin-top: -65vh;
    z-index: 40;
}

.The-Credit img {
    max-width: 40vw;
    z-index: 500;
    position: relative;
}

.stylesheet {
    font-family: "Exo 2";
}

.menu__center-text {
    position: absolute;
    top: 85%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
}

.Endless__item {
    /* display: inline-block;
    border-radius: 50px;
    padding: 20px 60px; */
    background: linear-gradient(
        to top,
        rgba(141, 96, 241, 1),
        rgba(20, 69, 118, 1)
    );
    margin-left: 280px;
    margin-top: 100px;
}
/* .Endless__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
} */

.Endless__item:hover {
    background: linear-gradient(
        to top,
        rgba(113, 77, 193, 1),
        rgba(16, 55, 94, 1)
    );
}

.Endless__item:active {
    background: linear-gradient(
        to top,
        rgba(85, 58, 145, 1),
        rgba(12, 41, 71, 1)
    );
}

/* .Endless__item:hover .Endless__link {
    color: white;
} */
.header section:nth-child(3) {
    background-color: #fcfcfc;
    padding-top: 3vh;
}
.header section:last-child {
    margin-bottom: 10vh;
}
.SecondFloor {
    text-align: center;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    color: Black;
    margin-top: 0vh;
    margin-bottom: 3vh;
}
.icon-item1 {
    display: inline-block block;
    width: 100px;
    height: auto;
    margin-left: 250px;
}

.icon-item2 {
    display: inline-block block;
    width: 100px;
    height: auto;
    margin-left: 700px;
    margin-top: -120px;
}
.icon-item3 {
    display: inline-block \block;
    width: 100px;
    height: auto;
    margin-left: 1100px;
    margin-top: -120px;
}

.Num1 {
    display: inline-block \block;
    width: 100px;
    height: auto;
    margin-left: 185px;
    margin-top: 80px;
}

.Num2 {
    display: inline-block \block;
    width: 100px;
    height: auto;
    margin-left: 580px;
    margin-top: -65px;
}
.Num3 {
    display: inline-block \block;
    width: 100px;
    height: auto;
    margin-left: 1000px;
    margin-top: -75px;
}
.About1 {
    line-height: 1.5;
    letter-spacing: 2px;
}
.About1 {
    width: 250px;
    text-align: center;
    margin-left: 245px;
    font-size: 20px;
    color: Black;
    margin-top: -100px;
}

.About2 {
    width: 250px;
    text-align: center;
    margin-left: 675px;
    font-size: 20px;
    color: Black;
    margin-top: -170px;
}

.About3 {
    width: 250px;
    text-align: center;
    margin-left: 1105px;
    font-size: 20px;
    color: Black;
    margin-top: -260px;
}
.TheDuty {
    text-align: center;
    margin-left: 320px;
    font-size: 30px;
    font-weight: bold;
    color: Black;
    margin-top: -400px;
}

.CorrectYes1 {
    margin-left: 675px;
    margin-top: 20px;
}
.Dude img {
    margin-left: 10vw;
    margin-top: -10vh;
}
.TheDuty-Word1 {
    text-align: center;
    margin-left: 505px;
    font-size: 20px;
    color: Black;
    margin-top: -285px;
}
.TheDuty-Word2 {
    text-align: center;
    margin-left: 480px;
    font-size: 20px;
    color: Black;
    margin-top: 40px;
}
.TheDuty-Word3 {
    text-align: center;
    margin-left: 525px;
    font-size: 20px;
    color: Black;
    margin-top: 40px;
}
.TheDuty-Word4 {
    text-align: center;
    margin-left: 345px;
    font-size: 20px;
    color: Black;
    margin-top: 40px;
}
.TheDuty-Word5 {
    text-align: center;
    margin-left: 480px;
    font-size: 20px;
    color: Black;
    margin-top: 40px;
}
